@import '../node_modules/modern-normalize/modern-normalize.css';
@import './variables.scss';
@import './mixins.scss';
@import './fonts.scss';
@import './symbols.scss';
@import './fontello.scss';
@import './keyframes.scss';
@import './components/header/header.scss';
@import './components/banner/banner.scss';

html,
body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background: $body-bg;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
}

main {
  flex: 1;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  line-height: 1;
}

img {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
  transition: .5s;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: calc((5 - 1.15)* 1.1vw + .8rem) 1rem calc((7 - 1.15)* 1.1vw + .8rem);
}

.no-scroll {
  overflow: hidden;
  position: fixed;
}